@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@supports (font: -apple-system-body) {
  html {
    /* Enable dynamic text sizing on Apple devices for accessibility */
    font: -apple-system-body;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out;
}

.animate-slide-in {
  animation: slideIn 1s ease-out;
}

@layer base {
  article figure {
    @apply mx-auto my-8 text-center w-fit;
  }

  article figcaption {
    @apply mt-3 text-sm text-gray-300 italic;
  }

}

.prose blockquote {
  quotes: none;
}

.dashed-box {
  @apply border-2 border-dashed border-white p-4 my-4;
  color: white;
  padding: 0 1em 0 1em;
  width: fit-content;
  margin: 0 auto;
}

.dashed-box h3 {
  margin-top: 1.1em;
}

@media (width >= 64rem) {
  .dashed-box {
    padding: 0 2.5em 0 1.5em;
  }

  .dashed-box p {
    padding: 0 1.5em 0 1.5em;
    font-size: 1.25em;
  }
}